<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="qqq()">qwe</button>

    <script>
        function qqq(){
            fetch(`https://port-0-fuckcloudtype-dc9c2nlss8snjp.sel5.cloudtype.app/1`);
        }
    </script>
</body>
</html>
